<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="folderPrinterMappings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <folderPrinterMappings>
    <add key="C:\Path\To\Monito" value="Microsoft Print to PDF"/>
    <add key="Folder2" value="Printer2"/>
    <!-- Agrega más duplas carpeta-impresora aquí -->
  </folderPrinterMappings>
  <appSettings>
    <add key="EventSourceName" value="PDFMonitorServiceSource1" />
    <!--Filtro de tiempo en minutos para seleccionar los fihceros creados o modificados, 60 significa creados en los últimos 60 minutos -->
    <add key="SelectTimeInterval" value="60"/>
    <!--Tiempo de monitorización de cambios en las carpetas-->
    <add key="IntervalInSeconds" value="60" />
    <!--Tiempo de supervisión de los monitores-->
    <add key="SupervisionIntervalInSeconds" value="120"/>
    <add key="FileSuffix" value="_processed" />
    <!--Tiempo entre reintentos de ejecutar la monitorización-->
    <add key="RetryDelayInMilliseconds" value="1000" />
    <!--Tiempo de espera para dar por OK una impresión-->
    <add key="PrintTimeoutInMilliseconds" value="10000" />
    <add key="EnablePrintRetry" value="true" />
    <add key="MaxPrintRetries" value="3" />
    <add key="MaxTimerRetries" value="0" />
    <!-- 0 significa reintentar indefinidamente -->
    <add key="DebugMode" value="true"/>
    <add key="MoveToErrorFolder" value="false"/>
    

  </appSettings>
</configuration>


<!--

Resumen de IDs de Eventos
1000 - Inicialización del Servicio
1001: Configuración inicial
1002: Programa iniciado
1003: Ejecutándose en modo consola
1004: Ejecutándose como servicio
1005: Inicializando el servicio en modo consola
2000 - Inicio y Parada del Servicio
2000: Servicio iniciado
2001: Servicio detenido
2002: Servicio iniciado en modo consola
3000 - Inicialización del Temporizador
3000: Temporizador inicializado
3001: Impresión iniciada
3002: Renombrar fichero iniciado
7002: Error al inicializar temporizador
7003: Fallo al inicializar temporizador después de reintentos
4000 - Procesamiento de Archivos
7004: Error en el procesamiento de archivos
7005: Error en el procesamiento de archivos
5000 - Impresión de Archivos
5001: Archivo no encontrado para impresión
5002: Error al imprimir archivo (intento)
5003: Fallo al imprimir archivo después de reintentos
6000 - Renombrado de Archivos
6000: Archivo renombrado
6001: Archivo enviado a impresora
7006: Error al renombrar archivo
7000 - Manejo de Errores
7001: Error durante la inicialización
7007: Error al detener el servicio
7008: Excepción no controlada en el programa
7009: Error al ejecutar en modo consola
-->